/* FilmCarousel.module.css */

.filmCarousel {
    display: flex;
    color: #fff;
    gap: 2rem;
  }
  
  .filmImage {
    flex: 1;
    max-width: 60%;
  }
  
  .filmImage img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
    max-height: 26rem;
    border: 1px #FC80FF solid;
  }
  
  .filmDetails {
    flex: 1;
    max-width: 40%;
  }
  
  .filmDetails h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .filmDetails p {
    margin-bottom: 8px;
  }
  
  .filmDetails p:last-child {
    margin-bottom: 0;
  }
  