/* FilmCarousel.module.css */



.filmCarousel {
    display: flex;
    color: #fff;
    gap: 2rem;
  }


  
  .filmImage {
    flex: 1;
    max-width: 50%;
  }
  
  .filmImage img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
    max-height: 26rem;
    border: 1px #FC80FF solid;
  }
  
  .filmDetails {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 40%;
    gap: 1rem;
  }
  
  .filmDetails h2 {
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    width: fit-content;
  }


  .filmDetails h2::after {
    content: '';
    width: 0%;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.2s;
  }

  .filmCarousel:hover h2::after {
    width: 100%;
  }
  




  .filmDate {
    padding: 0.5rem 1rem;
    background: #3C003E;
    color: #FC80FF;
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 0.5rem;
    width: fit-content;
  }


  

  .overview {
    line-height: 150%;
    color: #E7E3FF;
    opacity: 0.7;
  }

  /* CSS */
.carousel_container {
  position: relative; /* Assurez-vous que le conteneur parent est en position relative */
}

.custom_navigation {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%); /* Centre les flèches verticalement */
}

.swiper_button_prev,
.swiper_button_next {
  background-color: rgba(0, 0, 0, 0.5); /* Exemple de style */
  color: white; /* Exemple de style */
  padding: 10px;
  border-radius: 50%;
}




@media (max-width: 992px) {

  .filmCarousel {
    flex-direction: column;
  }

  .filmImage {
    max-width: 99%;
  }

  .filmDetails {
    max-width: 100%;
  }

  .swiper-button-prev, .swiper-button-next {
    display: none;
  }

}








