html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
  font-size: 16px;
  background: rgb(9,15,42);
  background: linear-gradient(180deg, rgba(9,15,42,1) 0%, rgba(58,35,98,1) 100%) no-repeat;
}

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');






.containerGlobal {
  margin: 0 6rem;

}

h1 {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 600;
  width: 60%;
}


a {
  text-decoration: none;
}


.swiper-button-prev:after, .swiper-button-next:after {
  padding: 1rem;
  background-color: rgba(60, 0, 62, 1);
  color: #FC80FF;
  border-radius: 8px;
  width: auto;
  font-size: larger !important;
}




.filmNote {
  padding: 4px 8px;
  border-radius: 0.5rem;
  background: #02EC8D;
  color: #090F2A;
  font-weight: bold;
  font-size: 1.5rem;
  width: fit-content;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}


  .filmNoteMain {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background: #02EC8D;
    color: #090F2A;
    font-weight: bold;
    font-size: 2rem;
    width: fit-content;
  }


  .exponent {
    font-size: 1rem; /* Réduit la taille du texte */
    vertical-align: super;
  }
  

